html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* === Estilo da Página Inicial === */
.home-container {
  width: 100vw;
  height: 100vh;

  background-image: url("https://works2bi.com.br/wp-content/uploads/2025/09/Dobra-01-1-copiar-scaled-e1756840702528-2048x1174-1.webp");
  background-size: cover;       /* cobre toda a tela */
  background-position: center;  /* centraliza */
  background-repeat: no-repeat; /* não repetir */
  background-attachment: fixed; /* opcional - efeito parallax */
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* garante que os textos fiquem acima do círculo */
.home-container * {
  position: relative;
  z-index: 2;
}

.home-title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.home-input {
  padding: 12px 16px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #091930;
  outline: none;
  margin-bottom: 1rem;
  width: 250px;
  top: -20%;
  left:-27%;
  text-align: center;
}

.home-button {
  background-color: white;
  color: #091930;
  border: 1px solid #091930;
  padding: 3px 118px;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  top: -20%;
  left:-27%;
}

.home-button:hover {
  background-color: #091930;
  color: white;
}

.home-error {
  color: #ff6b6b;
  margin-top: 10px;
  font-size: 0.95rem;
}

/* === Círculo decorativo === */
.circulo {
  width: 50vw;      /* 50% da largura da tela */
  height: 50vw;     /* mantém formato perfeito de círculo */
  background-color: #c9a743;
  border-radius: 50%;
  position: absolute;

  bottom: 5vh;
  right: -230px;


  z-index: 1;
  opacity: 1;
  filter: blur(2px);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  animation: pingEcentraliza 3s linear forwards;
}


/* === Animação linear do círculo === */
@keyframes pingEcentraliza {
  0% {
    transform: translate(100px, -200px);;
  }
  50% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(-100px, -150px);
  }
}

.fundo2bi img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(112%, 22.5%); /* centraliza de verdade */
  
  width: 11.5vw;
  height: 15.1vh; /* mantém proporção */
  
  z-index: 4;
}



img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50vw;
  height: auto; /* mantém proporção correta */
  z-index: 6;
}


