html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* === Estilo da Página Inicial === */
.home-container {
  width: 100vw;
  height: 100vh;

  background-image: url("https://works2bi.com.br/wp-content/uploads/2025/09/Dobra-01-1-copiar-scaled-e1756840702528-2048x1174-1.webp");
  /*background-image: url("https://i.imgur.com/AMO7Nfj.jpeg");*/
  background-size: cover;       /* cobre toda a tela */
  background-position: center;  /* centraliza */
  background-repeat: no-repeat; /* não repetir */
  background-attachment: fixed; /* opcional - efeito parallax */
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* === Estilo da Página Inicial === */
.home-container_MenuDash {
  width: 100vw;
  height: 100vh;
  background-image: url("https://i.imgur.com/6AtPXiS.png");
  background-size: cover;       /* cobre toda a tela */
  background-position: center;  /* centraliza */
  background-repeat: no-repeat; /* não repetir */
  background-attachment: fixed; /* opcional - efeito parallax */
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* garante que os textos fiquem acima do círculo */
.home-container * {
  position: relative;
  z-index: 2;
}

.home-title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.home-input {
  padding: 0.8% 0.84%;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #091930;
  outline: none;
  margin-bottom: 0.2rem;
  width: 20%;
  top: -25%;
  left:-27%;
  text-align: center;
}

.home-button {
  background-color: white;
  color: #091930;
  border: 1px solid #091930;
  padding: 0.1% 0.85%;
  width: 21.7%;
  border-radius: 4px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  top: -25%;
  left:-27%;
}

.home-button:hover {
  background-color: #091930;
  color: white;
  border: 1px solid white;
}

.input_dashMenuPrime {
  position: absolute;
  padding: 0.5% 0.5%;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #091930;
  outline: none;
  margin-bottom: 0.2rem;
  width: 10%;
  top: 60%;
  left:10%;
  text-align: center;
}

.button_dashMenuPrime {
  position: absolute;
  background-color: white;
  color: #091930;
  border: 1px solid #091930;
  padding: 0.5% 0.5%;
  width: 3%;
  height: 4%;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  top: 60%;
  left:21.1%;
}

.button_dashMenuPrime:hover {
  background-color: #091930;
  color: white;
  border: 1px solid white;
}

.home-error {
  color: #ff6b6b;
  margin-top: 10px;
  font-size: 0.95rem;
}

/* === Círculo decorativo === */
.circulo {
  width: 50vw;      /* 50% da largura da tela */
  height: 50vw;     /* mantém formato perfeito de círculo */
  background-color: #c9a743;
  border-radius: 50%;
  position: absolute;

  bottom: 5vh;
  right: -230px;


  z-index: 1;
  opacity: 1;
  filter: blur(2px);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  animation: pingEcentraliza 3s linear forwards;
}


/* === Animação linear do círculo === */
@keyframes pingEcentraliza {
  0% {
    transform: translate(100px, -200px);;
  }
  50% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(-100px, -150px);
  }
}

.IconDashMenu img {
  position: absolute;
  top: 28%;
  left: -5.6%;
  transform: translate(112%, 22.5%);
  
  width: 14vw;
  height: 17.5vh;
  
  z-index: 4;

  transition: transform 0.25s ease, width 0.25s ease, height 0.25s ease;
}

.IconDashMenu:hover img {
  transform: translate(112%, 22.5%) scale(1.50); /* aumenta 15% */
  z-index: 5;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.texto-Icon1{
  position: relative;
}

.IconDashMenu2 img {
  position: absolute;
  top: 28%;
  left: 9%;
  transform: translate(112%, 22.5%);
  
  width: 14vw;
  height: 17.5vh;
  
  z-index: 4;

  transition: transform 0.25s ease, width 0.25s ease, height 0.25s ease;
}

.IconDashMenu2:hover img {
  transform: translate(112%, 22.5%) scale(1.50); /* aumenta 15% */
  z-index: 5;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

.IconDashMenu3 img {
  position: absolute;
  top: 28%;
  left: 23.5%;
  transform: translate(112%, 22.5%);
  
  width: 14vw;
  height: 17.5vh;
  
  z-index: 4;

  transition: transform 0.25s ease, width 0.25s ease, height 0.25s ease;
}

.IconDashMenu3:hover img {
  transform: translate(112%, 22.5%) scale(1.50); /* aumenta 15% */
  z-index: 5;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

.IconDashMenu4 img {
  position: absolute;
  top: 28%;
  left: 38%;
  transform: translate(112%, 22.5%);
  
  width: 14vw;
  height: 17.5vh;
  
  z-index: 4;

  transition: transform 0.25s ease, width 0.25s ease, height 0.25s ease;
}

.IconDashMenu4:hover img {
  transform: translate(112%, 22.5%) scale(1.50); /* aumenta 15% */
  z-index: 5;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

.IconDashMenu5 img {
  position: absolute;
  top: 28%;
  left: 52.5%;
  transform: translate(112%, 22.5%);
  
  width: 14vw;
  height: 17.5vh;
  
  z-index: 4;

  transition: transform 0.25s ease, width 0.25s ease, height 0.25s ease;
}

.IconDashMenu5:hover img {
  transform: translate(112%, 22.5%) scale(1.50); /* aumenta 15% */
  z-index: 5;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50vw;
  height: auto; /* mantém proporção correta */
  z-index: 6;
}

.logoW2bi img{
  position: absolute;
  width: 10%;
  top: 2%;
  left: 2%;
}


